---
services:
  qbittorrent:
    image: "{{ qbittorrent_image_name }}:{{ qbittorrent_image_tag }}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --server-response -qO /dev/null http://127.0.0.1:8080/ 2>&1 | grep -q \"HTTP/1.1 200\""]
      interval: 60s
      timeout: 5s
      retries: 3
    ports:
      - "{{ qbittorrent_web_port }}:8080"
      - "{{ qbittorrent_torrent_port }}:6881"
      - "{{ qbittorrent_torrent_port }}:6881/udp"
    environment:
      PUID: "{{ container_puid | string }}"
      PGID: "{{ container_pgid | string }}"
      TZ: "{{ timezone }}"
      WEBUI_PORT: "{{ qbittorrent_web_port | string }}"
      TORRENTING_PORT: "{{ qbittorrent_torrent_port | string }}"
    volumes:
      - "{{ qbittorrent_data_dir }}:/config"
      - "{{ downloads_dir }}:/downloads"
    labels:
      traefik.enable: "true"
      traefik.http.routers.qbittorrent.rule: "Host(`{{ qbittorrent_cname }}.{{ inventory_hostname }}.{{ lan_domain }}`)"
      traefik.http.routers.qbittorrent.entrypoints: "websecure"
      traefik.http.routers.qbittorrent.tls: "true"
      traefik.http.routers.qbittorrent.tls.certresolver: "step-ca"
      traefik.http.services.qbittorrent.loadbalancer.server.port: "{{ qbittorrent_web_port }}"
